/* default properties for root containers in the scene */
.root {
    -fx-background-color: black;
    -fx-border-color: gray;
}

/* default properties of the textField controller */
.text-field {
    -fx-background-color: #2b2a2a;
    -fx-text-inner-color: white;
}

/* default properties of a button */
.button {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2;
}
/* by default buttons are highlighted white when they are moused over */
.button:hover {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.toggle-button {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-color: white;
}
.toggle-button:selected {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.text-33px {
    -fx-fill: white;
    -fx-font-size: 33px;
}

.text-14px {
    -fx-fill: white;
    -fx-font-size: 14px;
}

.text-13px {
    -fx-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-size: 13px;
}

.round-button {
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-font-family: "Verdana Bold";
    -fx-font-size: 13px;
    -fx-background-insets: 3;
}

/* additional properties on top of the default ones for the back button */
.back-button {
    -fx-border-color: transparent;
    -fx-font-family: "Verdana Italic";
    -fx-text-fill: gray;
    -fx-font-size: 13px;
}
.back-button:hover {
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-background-color: black;
}

/* properties on the single mode and two player buttons in GameModeMenu.fxml */
#SINGLEMODE, #TWOPLAYER {
    -fx-background-color: black;
    -fx-border-color: gray;
    -fx-text-fill: gray;
    -fx-background-radius: 0;
    -fx-background-insets: 0px;
    -fx-font-family: "System Bold";
    -fx-font-size: 12px;
}
#SINGLEMODE:hover, #TWOPLAYER:hover {
    -fx-text-fill: white;
    -fx-background-color: gray;
    -fx-border-color: white;
    -fx-background-insets: 0px;
    -fx-background-radius: 0;
}